html {
    --light-blue: rgb(79, 195, 247);
}

span[data-icon="status-dblcheck"] svg,
span[data-icon="msg-dblcheck"] svg {
    background: var(--light-blue);
    border-radius: 100%;
}
span[data-icon="status-dblcheck"] svg {
    width: 14px;
    height: 14px;
    margin-top: 2px;
}
span[data-icon="msg-dblcheck"] svg {
    width: 10px;
    height: 10px;
    margin-top: 3px;
}
