html {
    --icon-ack: blue !important;
}

span[data-icon="status-dblcheck"] svg {
    width: 22px;
    height: 22px;
    margin-top: -2px;
}
span[data-icon="msg-dblcheck"] svg {
    width: 19px;
    height: 18px;
    margin-top: -3px;
}
